.search_input {
  width: 50%;
  height: 30px;
  border-radius: 30px;
  outline: none;
  border: 1px solid grey;
  @media (max-width: 1024px) {
    width: 70%;

  }

  @media (max-width: 767px) {
    width: 80%;
  }
}
.search_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}